  {% extends 'base.html' %}

{% block content %}
{% csrf_token %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Data Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">Data</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Все заказы</h5>
              <!-- <p>Add lightweight datatables to your project with using the <a href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">Simple DataTables</a> library. Just add <code>.datatable</code> class name to any table you wish to conver to a datatable. Check for <a href="https://fiduswriter.github.io/simple-datatables/demos/" target="_blank">more examples</a>.</p> -->

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th style="width:10%">#</th>
                    <th>
                      <b>Имя/Фамилия</b>
                    </th>
                    <th>Сумма</th>
                    <th>Адрес</th>
                    <th data-type="date" data-format="YYYY/DD/MM HH:mm">Время заказа</th>
                    <th>Действия</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>#1001</td>
                    <td>Асилбек Корганбаев</td>
                    <td>5000тг</td>
                    <td>Сайрам Гозахан 52</td>
                    <td>2024/10/06 14:23:45</td>
                    <td>
                      <span class="badge bg-success">Approved</span> <br>
                      <span class="badge bg-warning">Pending</span> <br>
                      <span class="badge bg-danger">Rejected</span>
                    </td>
                  </tr>
                  <tr>
                    <td>#1001</td>
                    <td>Асилбек Корганбаев</td>
                    <td>5000тг</td>
                    <td>Сайрам Гозахан 52</td>
                    <td>2024/10/06 14:23:45</td>
                    <td>
                      <span class="badge bg-success">Approved</span> <br>
                      <span class="badge bg-warning">Pending</span> <br>
                      <span class="badge bg-danger">Rejected</span>
                    </td>
                  </tr>
                  <tr>
                    <td>#1001</td>
                    <td>Асилбек Корганбаев</td>
                    <td>5000тг</td>
                    <td>Сайрам Гозахан 52</td>
                    <td>2024/10/06 14:23:45</td>
                    <td>
                      <span class="badge bg-success">Approved</span> <br>
                      <span class="badge bg-warning">Pending</span> <br>
                      <span class="badge bg-danger">Rejected</span>
                    </td>
                  </tr>
                  <tr>
                    <td>#1001</td>
                    <td>Асилбек Корганбаев</td>
                    <td>5000тг</td>
                    <td>Сайрам Гозахан 52</td>
                    <td>2024/10/06 14:23:45</td>
                    <td>
                      <span class="badge bg-success">Approved</span> <br>
                      <span class="badge bg-warning">Pending</span> <br>
                      <span class="badge bg-danger">Rejected</span>
                    </td>
                  </tr> 
                  <tr>
                    <td>#1001</td>
                    <td>Асилбек Корганбаев</td>
                    <td>5000тг</td>
                    <td>Сайрам Гозахан 52</td>
                    <td>2024/10/06 14:23:45</td>
                    <td>
                      <span class="badge bg-success">Approved</span> <br>
                      <span class="badge bg-warning">Pending</span> <br>
                      <span class="badge bg-danger">Rejected</span>
                    </td>
                  </tr>
                  <tr>
                    <td>#1001</td>
                    <td>Асилбек Корганбаев</td>
                    <td>5000тг</td>
                    <td>Сайрам Гозахан 52</td>
                    <td>2024/10/06 14:23:45</td>
                    <td>
                      <span class="badge bg-success">Approved</span> <br>
                      <span class="badge bg-warning">Pending</span> <br>
                      <span class="badge bg-danger">Rejected</span>
                    </td>
                  </tr>
                  <tr>
                    <td>#1001</td>
                    <td>Асилбек Корганбаев</td>
                    <td>5000тг</td>
                    <td>Сайрам Гозахан 52</td>
                    <td>2024/10/06 14:23:45</td>
                    <td>
                      <span class="badge bg-success">Approved</span> <br>
                      <span class="badge bg-warning">Pending</span> <br>
                      <span class="badge bg-danger">Rejected</span>
                    </td>
                  </tr>  
                  <tr>
                    <td>#1001</td>
                    <td>Асилбек Корганбаев</td>
                    <td>5000тг</td>
                    <td>Сайрам Гозахан 52</td>
                    <td>2024/10/06 14:23:45</td>
                    <td>
                      <span class="badge bg-success">Approved</span> <br>
                      <span class="badge bg-warning">Pending</span> <br>
                      <span class="badge bg-danger">Rejected</span>
                    </td>
                  </tr>
                  <tr>
                    <td>#1001</td>
                    <td>Асилбек Корганбаев</td>
                    <td>5000тг</td>
                    <td>Сайрам Гозахан 52</td>
                    <td>2024/10/06 14:23:45</td>
                    <td>
                      <span class="badge bg-success">Approved</span> <br>
                      <span class="badge bg-warning">Pending</span> <br>
                      <span class="badge bg-danger">Rejected</span>
                    </td>
                  </tr>
                  <tr>
                    <td>#1001</td>
                    <td>Сирож</td>
                    <td>50000тг</td>
                    <td>Сайрам Гозахан 52</td>
                    <td>2024/10/06 14:23:45</td>
                    <td>
                      <span class="badge bg-success">Approved</span> <br>
                      <span class="badge bg-warning">Pending</span> <br>
                      <span class="badge bg-danger">Rejected</span>
                    </td>
                  </tr>
                  <tr>
                    <td>#1004</td>
                    <td>Асилбек Беков</td>
                    <td>4000тг</td>
                    <td>Сайрам Гозахан 52</td>
                    <td>2024/10/06 14:23:45</td>
                    <td>
                      <span class="badge bg-success">Approved</span> <br>
                      <span class="badge bg-warning">Pending</span> <br>
                      <span class="badge bg-danger">Rejected</span>
                    </td>
                  </tr>
                  <tr>
                    <td>#1005</td>
                    <td>Асилбек Алиев</td>
                    <td>45000тг</td>
                    <td>Сайрам Гозахан 52</td>
                    <td>2024/10/06 14:23:45</td>
                    <td>
                      <span class="badge bg-success">Approved</span> <br>
                      <span class="badge bg-warning">Pending</span> <br>
                      <span class="badge bg-danger">Rejected</span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}