  {% extends 'base.html' %}

{% block content %}
{% csrf_token %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Общие заказы</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Главная</a></li>
          <li class="breadcrumb-item active">Заказы</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Все заказы</h5>
              <!-- <p>Add lightweight datatables to your project with using the <a href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">Simple DataTables</a> library. Just add <code>.datatable</code> class name to any table you wish to conver to a datatable. Check for <a href="https://fiduswriter.github.io/simple-datatables/demos/" target="_blank">more examples</a>.</p> -->

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th style="width:10%">#</th>
                    <th>
                      <b>Имя/Фамилия</b>
                    </th>
                    <th>Сумма</th>
                    <th>Адрес</th>
                    <th data-type="date" data-format="YYYY/DD/MM HH:mm">Время заказа</th>
                    <th>Статус</th>
                  </tr>
                </thead>

                <tbody>
                {% if active_user.status == 1 %}
                {% for cart in carts %}

                  <tr>

                    <td><a href="/order/{{ cart.id }}">#{{ cart.id }}</a></td>
                    <td>{{ cart.person.name }} {{ cart.person.last_name }} </td>
                    <td>{{ cart.total_price }}тг</td>
                    <td>{{ cart.address }}</td>
                    <td>{{ cart.created_at }}</td>
                    <td>

                      {% if cart.status == 0 %}
                <span class="badge bg-info">Новый заказ</span> <br>
            {% elif cart.status == 1 %}
                <span class="badge bg-warning">Готовый заказ</span> <br>
            {% elif cart.status == 2 %}
                <span class="badge bg-success">Отправлен</span> <br>
            {% elif cart.status == 3 %}
                <span class="badge bg-success">Доставлен</span> <br>
            {% elif cart.status == 4 %}
                <span class="badge bg-success">Завершен</span> <br>
            {% elif cart.status == -1 %}
                <span class="badge bg-danger">Отменён</span>
            {% endif %}

                    </td>

                  </tr>

                {% endfor %}
                {% endif %}
                {% if active_user.status == 0 %}
                 {% for cart in carts %}
{% if cart.status == 1 %}
                  <tr>

                    <td><a href="/order/{{ cart.id }}">#{{ cart.id }}</a></td>
                    <td>{{ cart.person.name }} {{ cart.person.last_name }} </td>
                    <td>{{ cart.total_price }}тг</td>
                    <td>{{ cart.address }}</td>
                    <td>{{ cart.created_at }}</td>
                    <td>


                <span class="badge bg-info">Новый заказ</span> <br>


                    </td>

                  </tr>
               {% endif %}
                {% endfor %}
                {% endif %}

                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->





{% endblock %}